<div class="header bg-default pb-8 pt-5 pt-md-8" color>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Integration <br>Plan</h5>
                  <span class="h2 font-weight-bold mb-0">5</span>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Signing <br>Plan</h5>
                  <span class="h2 font-weight-bold mb-0">2</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Evaluation Training</h5>
                  <span class="h2 font-weight-bold mb-0">9</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Evaluation Recrutement</h5>
                  <span class="h2 font-weight-bold mb-0">4</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">


      <div class="col-xl-12 order-xl-8">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white ">

            <div class="row">

              <div class="col-8">
                <h2>TEMPLATES</h2>
              </div>
              

              <div class="col-4 text-right">
                <img alt="Image placeholder" src="../assets/img/theme/add (2).png" routerLinkActive="active"
                  [routerLink]="['/task-create']">
              </div>
              <div class="col-4 " style="margin-right: 100px;">

                <form class="form-inline d-flex justify-content-right md-form form-sm  mt-2 float-right">
                  <input name="searchString" _ngcontent-syb-c106="" placeholder="Type to search..." type="text"
                    class="form-control" [(ngModel)]="searchText" class="form-control form-control-sm mr-3 w-90"
                    type="text" placeholder="Search Text" aria-label="Search" style="color:MIDNIGHTBLUE ;">
                  <i class="fas fa-search" aria-hidden="true" style="color:MIDNIGHTBLUE;"></i>
                </form>
              </div>
              <div class="col-3 ">
                <mat-form-field class="multiple-items float-right" style="margin-right: 60px;">
                  <mat-chip-list #chipList>
                    <mat-chip formGroupName="tags" *ngFor="let subjectArray of tags" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(subjectArray)">


                      {{subjectArray.tag}}

                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder=" Search tag" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">

                  </mat-chip-list>

                </mat-form-field>
              </div>
              <div class="col-3">
                <div class="form-group float-right">

                  <form class="form-inline d-flex justify-content-right md-form form-sm  mt-2 float-right">
                    <input name="searchString" _ngcontent-syb-c106="" placeholder="Type to search..." type="text"
                      class="form-control" [(ngModel)]="searchText" class="form-control form-control-sm mr-3 w-90"
                      type="text" placeholder="Search Type" aria-label="Search" style="color:MIDNIGHTBLUE ;">
                    <i class="fas fa-search" aria-hidden="true" style="color:MIDNIGHTBLUE;"></i>
                  </form>
                </div>
              </div>

            </div>

          </div>
          <mat-tab-group mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>list</mat-icon>

                All ({{tasksList.length}})
              </ng-template>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                              <i class="fa fa-heart" aria-hidden="true" style="color:midnightblue"></i> Favorites </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                          aria-labelledby="headingOne">
                          <div class="panel-body">
                            <div class="card-body">
                              <div class="card-container m--5">

                                <div class="row">

                                  <div class="col-xl-4" *ngFor="let plan of tasksList | filter : searchText">
                                    <div class="row-xl-3">
                                      <div class="row-xl-6 row-lg-3" style="width:100px" *ngIf="plan.favoris === true"
                                        style="margin-left: 30px;">



                                        <div class="card">
                                          <div class="text-right" style="margin-right: 15px;margin-top: 15px">
                                            <div class="row float-right">

                                              <div class="toprightt" (click)="addfav2(plan)"  style="color: rgba(255, 102, 0, 0.774);size: 80px;">
                                                <i class="fas fa-heart" style="size: 80px;"></i>                                             
                                               </div>

                                              <div class="text-right" style="margin-right: 15px" data-toggle="modal"
                                                data-target="#myModal">

                                                <div id="myModal" class="modal fade" data-backdrop="false">
                                                  <div class="modal-dialog modal-confirm">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <div class="icon-box">
                                                          <i class="material-icons">&#xE5CD;</i>
                                                        </div>
                                                        <h4 class="modal-title">Are you sure?</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                          aria-hidden="true">&times;</button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <p>Do you really want to delete these template? This process
                                                          cannot be undone.</p>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-info"
                                                          data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-danger"
                                                          (click)="deleteIusse(plan)">Delete</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <!--Modal: modalCoupon-->

                                                <!--Modal: modalCoupon-->

                                                <!--Section: Live preview-->
                                                <img alt="Image placeholder" src="../assets/img/theme/trash.png">

                                              </div>
                                              <div class="text-right">
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card-content">
                                            <h1>{{plan.title}}</h1>
                                            <div class="row">
                                              <h3 class="h1 font-weight-bold mb-0 text-left"
                                                style="padding-left: 20px;">{{plan.subtasks.length}}</h3>
                                              <div class="col" style="margin-right: 0px;top: 15px;">
                                                <h5 class="card-title text-uppercase text-muted mb-0 text-right">
                                                  {{plan.owner}}</h5>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card-footer">
                                            <div class="row">
                                              <div routerLink="/task-edit/{{plan.id}}" style="margin-left:25px ;">
                                                Details>>
                                              </div>
                                              <div class="rate" style="margin-right: 4px;">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                              </div>
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                              href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i class="material-icons" style="color:darmidnightblue;">&#xe8e8;</i> My own templates
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                          aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <div class="card-body">
                              <div class="card-container m--5">

                                <div class="row">

                                  <div class="col-xl-4" *ngFor="let plan of tasksList | filter : searchText">
                                    <div class="row-xl-3">
                                      <div class="row-xl-6 row-lg-3" style="width:100px" *ngIf="plan.favoris === false"
                                        style="margin-left: 30px;">



                                        <div class="card">
                                          <div class="text-right" style="margin-right: 15px;margin-top: 15px">
                                            <div class="row float-right">

                                              <div class="topright" (click)="hi()">
                                                <div class="heart" (click)="addfav(plan)"></div>
                                              </div>

                                              <div class="text-right" style="margin-right: 15px" data-toggle="modal"
                                                data-target="#myModal">

                                                <div id="myModal" class="modal fade" data-backdrop="false">
                                                  <div class="modal-dialog modal-confirm">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <div class="icon-box">
                                                          <i class="material-icons">&#xE5CD;</i>
                                                        </div>
                                                        <h4 class="modal-title">Are you sure?</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                          aria-hidden="true">&times;</button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <p>Do you really want to delete these template? This process
                                                          cannot be undone.</p>
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-info"
                                                          data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-danger"
                                                          (click)="deleteIusse(plan)">Delete</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                <!--Modal: modalCoupon-->

                                                <!--Modal: modalCoupon-->

                                                <!--Section: Live preview-->
                                                <img alt="Image placeholder" src="../assets/img/theme/trash.png">

                                              </div>
                                              <div class="text-right">
                                              </div>
                                            </div>
                                          </div>

                                          <div class="card-content">
                                            <h1>{{plan.title}}</h1>

                                            <h3 class="h1 font-weight-bold mb-0 text-right">{{plan.subtasks.length}}
                                            </h3>


                                          </div>

                                          <div class="card-footer">
                                            <div class="row">
                                              <div routerLink="/task-edit/{{plan.id}}" style="margin-left:15px ;">
                                                Details>>
                                              </div>
                                              <div class="rate" style="margin-right: 8px;">
                                                <input type="radio" id="star5" name="rate" value="5" />
                                                <label for="star5" title="text">5 stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" />
                                                <label for="star4" title="text">4 stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" />
                                                <label for="star3" title="text">3 stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" />
                                                <label for="star2" title="text">2 stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" />
                                                <label for="star1" title="text">1 star</label>
                                              </div>
                                            </div>
                                          </div>


                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                              href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <i class="fas fa-users" style="color:midnightblue;"></i> Other
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                          aria-labelledby="headingThree">
                          <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id
                              pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac,
                              rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae.
                              Curabitur molestie eros. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

















            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">account_circle</mat-icon>
                Profile template
              </ng-template>



              <br>
              <legend>

              </legend>





              <div class="card-body">
                <div class="card-container">


                  <div class="row">

                    <div class="col-xl-4" *ngFor="let plan of tasksList | filter : searchText">
                      <div class="row-xl-3">
                        <div class="row-xl-6 row-lg-3" style="width:100px" *ngIf="plan.categorie == 'Profile Template'"
                          style="margin-left: 30px;">



                          <div class="card">
                            <div class="text-right" style="margin-right: 15px;margin-top: 15px">
                              <div class="row float-right">

                                <div class="topright" (click)="addfav(plan)">
                                  <div class="heart" (click)="hi()"></div>
                                </div>

                                <div class="text-right" style="margin-right: 15px" data-toggle="modal"
                                  data-target="#myModal">

                                  <div id="myModal" class="modal fade" data-backdrop="false">
                                    <div class="modal-dialog modal-confirm">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <div class="icon-box">
                                            <i class="material-icons">&#xE5CD;</i>
                                          </div>
                                          <h4 class="modal-title">Are you sure?</h4>
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Do you really want to delete these template? This process cannot be
                                            undone.</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-info"
                                            data-dismiss="modal">Cancel</button>
                                          <button type="button" class="btn btn-danger"
                                            (click)="deleteIusse(plan)">Delete</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <!--Modal: modalCoupon-->

                                  <!--Modal: modalCoupon-->

                                  <!--Section: Live preview-->
                                  <img alt="Image placeholder" src="../assets/img/theme/trash.png">

                                </div>
                                <div class="text-right">
                                </div>
                              </div>
                            </div>

                            <div class="card-content">
                              <h1>{{plan.title}}</h1>

                              <h3 class="h1 font-weight-bold mb-0 text-right">{{plan.subtasks.length}}</h3>


                            </div>

                            <div class="card-footer">
                              <div class="row">
                                <div routerLink="/task-edit/{{plan.id}}" style="margin-left:15px ;">
                                  Details>>
                                </div>
                                <div class="rate" style="margin-right: 8px;">
                                  <input type="radio" id="star5" name="rate" value="5" />
                                  <label for="star5" title="text">5 stars</label>
                                  <input type="radio" id="star4" name="rate" value="4" />
                                  <label for="star4" title="text">4 stars</label>
                                  <input type="radio" id="star3" name="rate" value="3" />
                                  <label for="star3" title="text">3 stars</label>
                                  <input type="radio" id="star2" name="rate" value="2" />
                                  <label for="star2" title="text">2 stars</label>
                                  <input type="radio" id="star1" name="rate" value="1" />
                                  <label for="star1" title="text">1 star</label>
                                </div>
                              </div>
                            </div>



                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>





            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assignment_turned_in</mat-icon>
                Project template
              </ng-template>



              <br>
              <div class="card-container">

                <div class="row">

                  <div class="col-xl-4" *ngFor="let plan of tasksList | filter : searchText">
                    <div class="row-xl-3">
                      <div class="row-xl-6 row-lg-3" style="width:100px" *ngIf="plan.type == 'Soft skills'"
                        style="margin-left: 30px;">



                        <div class="card">

                          <div class="text-right" style="margin-right: 15px;margin-top: 15px" data-toggle="modal"
                            data-target="#myModal">


                            <!--Modal: modalCoupon-->

                            <!--Modal: modalCoupon-->

                            <!--Section: Live preview-->
                            <img alt="Image placeholder" src="../assets/img/theme/trash.png">
                          </div>


                          <div class="card-content">
                            <h1>{{plan.title}}</h1>
                            <h5 class="card-title text-uppercase text-muted mb-0 text-right">5</h5>

                          </div>

                          <div class="card-footer" (click)="editUser(plan)">
                            Details >>
                          </div>

                          <div id="myModal" class="modal fade" data-backdrop="false">
                            <div class="modal-dialog modal-confirm">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <div class="icon-box">
                                    <i class="material-icons">&#xE5CD;</i>
                                  </div>
                                  <h4 class="modal-title">Are you sure?</h4>
                                  <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <p>Do you really want to delete these template? This process cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-danger"
                                    (click)="deleteIusse(plan)">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"> exit_to_app </mat-icon>
                onboarding template
              </ng-template>



              <br>
              <div class="card-container" style="margin-left: 30px;">

                <div class="row">

                  <div class="col-xl-4" *ngFor="let plan of tasksList | filter : searchText">
                    <div class="row-xl-3">
                      <div class="row-xl-6 row-lg-3" style="width:100px" *ngIf="plan.categorie == 'default template'"
                        style="margin-left: 30px;">



                        <div class="card">

                          <div class="text-right" style="margin-right: 15px;margin-top: 15px" data-toggle="modal"
                            data-target="#myModal">


                            <!--Modal: modalCoupon-->

                            <!--Modal: modalCoupon-->

                            <!--Section: Live preview-->
                            <img alt="Image placeholder" src="../assets/img/theme/trash.png">
                          </div>


                          <div class="card-content">

                            <h1>{{plan.title}}</h1>
                            <h5 class="card-title text-uppercase text-muted mb-0 text-right">{{plan.length}}</h5>
                          </div>


                          <div class="card-footer" [routerLink]="[ '/edit/${plan.id}']">

                            Details >>


                          </div>

                          <div id="myModal" class="modal fade" data-backdrop="false">
                            <div class="modal-dialog modal-confirm">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <div class="icon-box">
                                    <i class="material-icons">&#xE5CD;</i>
                                  </div>
                                  <h4 class="modal-title">Are you sure?</h4>
                                  <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                  <p>Do you really want to delete these template? This process cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-danger"
                                    (click)="deleteIusse(plan)">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            </mat-tab>
          </mat-tab-group>

        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
</div>





<!-- Dark table -->