<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0" style="background-color:rgb(235, 235, 243)">
        <span class="text-warning font-weight-900" style="font-size: 160%">Add new subtask</span>                             

        <div class="col-xl-12 order-xl-12 mt-4 mb-xl-4 mt--0 " >
          <div class="card card-profile shadow">
            <div class="card-header text-center border-2 pt-8 pt-md-4 pb-6 pb-md-4">
             
             
            </div>
        <div class="col-md-12 user-container">
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <span class="text-warning font-weight-900">Title</span>                             
              <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
            </div>
            <div class="form-group">
              <span class="text-warning font-weight-900">Description</span>                             

              <angular-editor  formControlName="description" [config]="editorConfig"></angular-editor>
            </div>


            <button class="btn btn-warning float-right"(click)=" closeDialog() ">Save</button>
          </form>
        </div></div></div></div></div></div></div>