*{
    box-sizing: border-box;
  }
  
  body{
    font-family: Montserrat,sans-serif;
    margin: 50px;
    background-image: linear-gradient(90deg, #99989b, #3b4a8d);
    
    >h1, >p{
      text-align:center;
    }
    
    >h1{
      margin: 40px;
      color: #ffffff;
    }
    
    >p{
      font-size:20px;
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }
  
  .card-container{
    display: flex;
    
    .card{
      margin: 10px;
      border-radius: 10px;
      background-color: #ffffff;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      
      .card-count-container{
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 20px 0px;
      }
      
      .card-count{
        font-weight: bold;
        font-size: 100px;
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        margin-right: -50px;
        padding-right: 25px;
        overflow: hidden;
        color: #ffffff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
      }
      
      .card-content{
        padding: 20px;
        padding-top: 0px;
        
        > h2{
          margin-top: 0px;
          text-align: center;
        }
      }
      
      .card-footer{
        padding: 10px;
        color: #ffffff;
      }
      
      &:nth-child(1){
        .card-count, .card-footer{
          background-image: linear-gradient(90deg, #ff7300, #130047 );
        }
      }
     
      &:nth-child(2){
        .card-count, .card-footer{
          background-image: linear-gradient(90deg, #1f036b, #ea9826);
        }
      }
      
      &:nth-child(3){
        .card-count, .card-footer{
          background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
        }
      }
      
      &:hover{
        .card-count{
          width: 160px;
          height: 160px;
        }
      }
    }
    
    @media (max-width: 767px){
      flex-wrap: wrap;
    }
  }
  body {
		font-family: 'Varela Round', sans-serif;
	}
  .modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
  }
  .modal-backdrop {
    z-index: -1;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
  }
  // TWITTER HEART
.heart {
  position: absolute;
  top:3px;
  vertical-align: top;
  right: 20px;
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  
  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}
.topright {
  position: absolute;
  top: 0px;
  right: 10px;
}
.toprightt {
  position: absolute;
  top: 15px;
  right: 50px;
}

// BASIC

  
  