<div class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center" style="min-height: 300px">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-5 col-md-5">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-4 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-warning mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
               
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Jessica Jones
            </h3>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i> <i class="ni ni-calendar-grid-58"></i>Recrutement Date
            </div>
            <i class="ni education_hat mr-2"></i>09/03/2020
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i> <i class="ni ni-calendar-grid-58"></i>Due Date
            </div>
            <i class="ni education_hat mr-2"></i>09/03/2020

            <hr class="my-4" />
            <button id="exportButton" class="btn btn-lg btn-danger clearfix"><span class="fa fa-file-pdf-o"></span> Export to PDF</button>          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Integration Plan</h3>
            </div>
           
          </div>
        </div>
        <div class="card-body">
          <form>

            <button class="btn btn-sm btn-warning" (click)="test2.toggle()">It tasks</button>
<div>
            <div class="pl-lg-4">
              <div class="row">
                

                <div class="col-lg-6" mdbCollapse [isCollapsed]="true" #test2="bs-collapse">
                  

                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1">Unchecked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                </div>
                
              </div>
              
            </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <button class="btn btn-sm btn-warning" (click)="test.toggle()">Quality tasks</button>

            <div class="pl-lg-4">
              <div class="row">
                

                <div class="col-lg-6" mdbCollapse [isCollapsed]="true" #test="bs-collapse">
                  

                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1">Unchecked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                </div>
                
              </div>
              
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <button class="btn btn-sm btn-warning" (click)="test2.toggle()">Open Project Template</button>
            <div class="pl-lg-4">
              <div class="row">
                

                <div class="col-lg-6" mdbCollapse [isCollapsed]="true" #test2="bs-collapse">
                  

                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1">Unchecked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                </div>
                
              </div>
              
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <button class="btn btn-sm btn-warning" (click)="test2.toggle()">Open Project Template</button>
            <div class="pl-lg-4">
              <div class="row">
                

                <div class="col-lg-6" mdbCollapse [isCollapsed]="true" #test2="bs-collapse">
                  

                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1">Unchecked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
                    <label class="custom-control-label" for="customCheck2">Checked</label>
                  </div>
                </div>
                
              </div>
              
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
